:root {
    --primary-color: rgb(255, 230, 0);
    --secondary-color: black;
    --accent-color: #626665;
    --text-color: #D3D3D3;
    --background-color: #f5f5f5;
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: rgba(156, 156, 26, 0.582);
    
} 

body {
    width: 80%;
    margin: auto;
    height: max-content;
}

/* main container for all of the diplayed elements  */
.container {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    position: relative;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.loader {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100px;
    height: 60px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    padding: 3px;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}

/* hearder/Bar  content */
.headers {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    position: sticky;
    top: 0;

}

.scroll {
    border-bottom: 1px solid var(--secondary-color);
    background-color: rgba(201, 187, 187, 0.5);
    z-index: 1;
}

/* trending */

.ranges {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
    color: var(--primary-color);
    padding: 0px 50px;
}

.range {
    margin: 10px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

}

/* search field */
.search {
    width: max-content;
    height: 50px;
    margin-left: auto;
    margin-right: 200px;
    align-items: center;
    position: relative;
}

.fa-magnifying-glass:hover {
    padding: 1px;
    cursor: pointer;
}


.search-input {
    width: 300px;
    height: 40px;
    padding-left: 30px;
    padding-bottom: 5px;
    background-color: var(--primary-color);
    border: none;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border-bottom: 1px solid black;
}

.search-input:focus {
    outline: none;
    background-color: yellow;

}

.fa-magnifying-glass {
    position: absolute;
    left: 5px;
    top: 25%;
}

/* main title */
.title-container {
    width: max-content;
    height: 50px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
}

/* content container */

.placeholder{
    width: max-content;
    height: 900px;
}

.content-box{
    height: max-content
}


.each-contanier {
    height: max-content;
    width: 1000px;
    background-color: black;
    margin: 20px auto ;
    position: relative;
    transition: transform 0.6s ease;
    overflow: hidden;
    border-radius: 5px;
}

.image-style {
    width: 50%;
    height: auto;
    display: block;
    margin-right: auto;
    border-right: 4px solid white;
}
.image-style:hover{
    opacity: 0.6;
}
.each-contanier:hover {
    background-color: #626665;
    transform: scale(1.1);
    box-shadow: 20px 20px var(--primary-color),
        -1em 0 0.4em olive;
}

.play-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
}
.fa-play, .fa-pause {
    margin: auto;
}
.play-btn:hover{
    opacity: 0.7;
    
}
/* Different divices */

@media (min-width: 475px) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}